<template name="floatingButton">
	
	<!-- Create Teams Modal -->
	<div id="modal1" class="modal">
	    <div class="modal-content">
	        <h4>Create New Teams</h4>
	        <p>
	            This will create new team, and overwrite any currectly existing teams.
	        </p>
	    </div>
	    <div class="modal-footer">
	        <a href="#!" id='createTeams' class=" modal-action modal-close waves-effect waves-green btn-flat">Random</a>
	        <a href="#!" id='createTeamsOptimized' class=" modal-action modal-close waves-effect waves-green btn-flat">optimized</a>
	    </div>
	</div>
	
	<!-- End Season Modal -->
	<div id="endSeasonModal" class="modal">
	    <div class="modal-content">
	        <h3>THIS CAN NOT BE UNDONE!</h3>
	        <h4>This will end the season</h4>
	        <p>This will clear all past teams, records and current player stats</p>
	    </div>
	    <div class="modal-footer">
	        <a href="#!" id='endSeason' class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
	    </div>
	</div>

	<!-- Floating Button -->
	<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
	    <a class="btn-floating btn-large red">
	        <i class="fa fa-folder"></i>
	    </a>
	    <ul>
	        <li>
	            <a href='#' id='endSeasonModalBtn' class="btn-floating red darken-1"><i class="fa fa-trash-o"></i></a>
	        </li>
	        <li>
	            <a target='_blank' href='https://github.com/jared-schmidt/ps-volleyball' class="btn-floating yellow darken-1"><i class="fa fa-github"></i></a>
	        </li>
	        <li>
	            <a target='_blank' href='https://docs.google.com/document/d/1D_S-2xNvmcWxbq5dUv8JpWEPPLynKI3GTYT8Ije5mS0/edit' class="btn-floating green"><i class="fa fa-book"></i></a>
	        </li>
	        <li>
	            <a href='#' id='teamsModal' class="btn-floating blue"><i class="fa fa-plus"></i></a>
	        </li>
	    </ul>
	</div>
</template>