<head>
    <title>ps-volleyball</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" sizes="16x16 32x32" href="/logo.png">
    <!-- Meta tags that set up the page as a mobile page   -->
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet" />
</head>

<body>

    <nav id='navHeader'>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">PS-VolleyBall</a>
            <ul id="nav-mobile" class="right">
                <li>{{> loginButtons}}</li>
            </ul>
        </div>
    </nav>
    
    <div id='content'>
        {{#if currentUser}}
            {{> hello}}
        {{else}}
            <div id="loading-div">
                <img src="/spinning_volleyball.gif" /> Doing something....or maybe doing nothing....
            </div>
        {{/if}}
    </div>

    {{> meteorStatus}}

    <script>
        $.fn.poshytip = {
            defaults: null
        }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/jquery-editable/js/jquery-editable-poshytip.min.js"></script>
</body>



<template name="hello">
    
    <!-- Winning Modal -->
    <div id="winningWay" class="modal">
        <div class="modal-content">
            <h4>How did the team win</h4>
        </div>
        <div class="modal-footer">
            <a href="#!" data-tie='true' class=" modal-action modal-close waves-effect waves-green btn-flat winningWay">Tie-Breaker</a>
            <a href="#!" data-tie='false' class=" modal-action modal-close waves-effect waves-green btn-flat winningWay">No Tie-Breaker</a>
        </div>
    </div>

    <!-- Weather Modal -->
    <div id="weatherModal" class="modal">
        <div class="modal-content">
            <a href="http://www.accuweather.com/en/us/johnstown-pa/15904/current-weather/6405_pc" class="aw-widget-legal">
            <!--
            By accessing and/or using this code snippet, you agree to AccuWeather’s terms and conditions (in English) which can be found at http://www.accuweather.com/en/free-weather-widgets/terms and AccuWeather’s Privacy Statement (in English) which can be found at http://www.accuweather.com/en/privacy.
            -->
            </a><div id="awtd1463523327622" class="aw-widget-36hour"  data-locationkey="6405_PC" data-unit="f" data-language="en-us" data-useip="false" data-uid="awtd1463523327622" data-editlocation="true"></div><script type="text/javascript" src="http://oap.accuweather.com/launch.js"></script>
        </div>
        <div class="modal-footer">

        </div>
    </div>

    <!-- User Active Change -->
    <div class="row">
        <div class="col s12 m6">
            <label>YOUR STATUS:</label>
            <div class="switch">
                <label>
                    Inactive
                    <input type="checkbox" id='activeSelect' checked= {{isActive}}>
                    <span class="lever"></span> Active
                </label>
                <a style="margin-left: 20px;" class="waves-effect waves-light btn modal-trigger" id="WeatherBtn" href="#weatherModal">View Weather</a>
            </div>
        </div>
    </div>

    <!-- Floating Button -->
    {{> floatingButton}}
    
    <!-- Teams -->
    <div class="row">
        <!-- Away Team -->
        {{#if team2.team}}
            {{> team teamId="2" team=team2 teamHeader="Away (Road)" }}
        {{/if}}
        <!-- Home Team -->
        {{#if team1.team}}
            {{> team teamId="1" team=team1 teamHeader="Home (Parking)" }}
        {{/if}}
    </div>

    <!-- Roster -->
    {{> roster}}

    <!-- Stats -->
    {{> stats}}

    <!-- Records -->
    {{> records}}

    <!-- Past Teams -->
    {{> pastTeams}}

    <!-- Retired Players -->
    {{> retiredPlayers}}

</template>

